.all-regions {

  .recognitionType {
    position: absolute;
    top: 200px;
    left: 1010px;
  }

  ul {
    list-style: none;
    position: absolute;
    left: 750px;
    top: 130px;
    color: #ef6c00;
    padding: 0;

    &.regions-menu {
      display: flex;
      justify-content: space-between;
      width: 200px;
      top: 85px;
      color: #2841da;

      li:hover {
        color: #2334bc;
      }
    }

    &.playerRegions {
      left: 850px;
    }

    li {
      cursor: pointer;
      position: relative;

      select {
        position: absolute;
        left: 100px;
        top: 0;
      }

      &:hover {
        color: #a94c00;
      }

      &.active {
        color: aliceblue;

        &:hover {
          color: #d2dae1;
        }
      }
    }
  }
}
.config-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 650px;
  top: 600px;

  .upload-txt-wrapper {
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;

    input[type="file"] {
      display: none;
    }

    .custom-file-upload {
      display: inline-block;
      margin: 0 20px;
      flex-grow: 1;
      border: 1px solid #ccc;
      padding: 6px 12px;
      padding-top: 9px;
      cursor: pointer;
      font-size: 12px;
      color: lightgoldenrodyellow;
    }

    img {
      position: absolute;
      width: 100px;
      height: 100px;
      top: 30px;
      left: 50px;
      opacity: 0;
    }

    input:hover + img {
      display: block;
      transition: 2s;
      opacity: 1;
    }
  }

  #download-config {
    width: 154px;
  }
}



