.all-regions {

  .recognitionType {
    position: absolute;
    top: 200px;
    left: 1000px;
  }

  ul {
    list-style: none;
    position: absolute;
    left: 750px;
    top: 130px;
    color: #ef6c00;
    padding: 0;

    &.regions-menu {
      display: flex;
      justify-content: space-between;
      width: 200px;
      top: 85px;
      color: #2841da;

      li:hover {
        color: #2334bc;
      }
    }

    &.playerRegions {
      left: 850px;
    }

    li {
      cursor: pointer;
      position: relative;

      select {
        position: absolute;
        left: 100px;
        top: 0;
      }

      &:hover {
        color: #a94c00;
      }

      &.active {
        color: aliceblue;

        &:hover {
          color: #d2dae1;
        }
      }
    }
  }
}

