.rooms-wrapper {
  display: flex;
  justify-content: left;
  width: 100%;
  max-width: 980px;
  position: absolute;
  top: 50px;
  height: 30px;

  #upload-wrapper {
    position: relative;

    div {
      color: white;
    }
  }

  select {
    margin-right: 20px;
  }
}